<nav id = "top-navigation">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 small-12 cell">
                <div class="mybuddi" id = "mb-container">
                    <div class="mb-logo-os ir-container-16-9-r"></div>
                </div>
                <div class = "nav-link"><a target = "_blank" id = "pulse-anchor" class = "pulsate" href = "https://m.me/mybuddi.co" title = "Contact us on Facebook Messenger">Questions?</a></div>
            </div>
        </div>
    </div>
</nav>