<script>
window.lazySizesConfig = window.lazySizesConfig || {};lazySizesConfig.loadMode = 2;lazySizesConfig.expand = 30;window.lazySizesConfig.customMedia = {
'--small': '(max-width: 480px)', '--medium': '(max-width: 900px)', '--large': '(max-width: 1200px)'};
</script>
<webobject name = "Javascript"></webobject>