<section id = "footer-section" class="lazyload blur-up"
        data-bgset="//assets.mybuddi.co/assets/fps01/img/rimg/footer-base-320_low_1x.jpg 320w,
         //assets.mybuddi.co/assets/fps01/img/rimg/footer-base-640_hi_2x.jpg 640w 800h [(max-width: 480px)] | //assets.mybuddi.co/assets/fps01/img/rimg/footer-base-900_low_1x.jpg 900w,
    //assets.mybuddi.co/assets/fps01/img/rimg/footer-base-1800_hi_2x.jpg 1800w [(max-width: 900px)] | //assets.mybuddi.co/assets/fps01/img/rimg/footer-base-1440_low_1x.jpg 1280w,
    //assets.mybuddi.co/assets/fps01/img/rimg/footer-base-2880_hi_2x.jpg 2880w [(max-width: 2000px)]"
        data-sizes="auto" data-parent-fit="contain" style = "background-image: url('//assets.mybuddi.co/assets/fps01/img/blur/footer-base-blur.jpg');">


    <div class = "spacer"></div>
<footer class = "f-section-base">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">


             <div class="cell small-12 large-3">
                <h5>My Buddi Adventure</h5>
                <p> Building the My Buddi brand is an extension of my love of travel and my feelings towards health and wellness. </p>
                <p>If you are an outdoors person, you love to travel, maybe lay on the warm beach or take a long walk through a mountain trail - the My Buddi pack towel is a perfect addition to your kit.</p>
            </div>
            <div class="cell small-12 large-3">
                <h5>Connect</h5>
                <p><span class="icon-facebook large-icon"></span> <a href = "https://www.facebook.com/mybuddi.co#">Facebook</a></p>
                <p><span class="icon-youtube2 large-icon"></span> <a href = "#">YouTube</a></p>
                <p><span class="icon-instagram large-icon"></span> <a href = "#">Instagram</a></p>

            </div>
            <div class="cell small-12 large-3">
                <h5>About Us</h5>
                <p>You're active, maybe you like to play, or perhaps you do sports, travel the world, go trekking or just love the idea of personal achievement? </p>
                <p>If so then I think we have something in common. Let me share in your adventure!</p>
                <p>Get in touch and maybe we can feature your story?</p>
                <p>We run a <u><a href = "https://blog.mybuddi.co" target="_blank">Outddors / Adventure / Survival Blog</a></u> </p>
                
            </div>
            <div class="cell small-12 large-3">
                <h5>My Buddi Personal Adventure Brand </h5>
                <div class = "show-for-large">
                    <img data-src = "//assets.mybuddi.co/assets/fps01/img/your-adventure-x2.png" class="lazyload blur-up lazy-width" src = "//assets.mybuddi.co/assets/fps01/img/your-adventure-x1.png" />
                </div>
                <button id ="follow-adventure" class = "button expanded confirm"><h4 class="right-arrow">Follow the journey</h4></button>
            </div>
            <script>
                    var element = document.getElementById("follow-adventure");

                    element.onclick = function(event){window.location = "https://blog.mybuddi.co"};
                </script>
            <div class="cell small-12">
                <hr>

            </div>
            <div class="cell small-12 large-6 align-left copyright">
           <p>Base Enterprise US LLC - My Buddi Adventure</p>
			<p> © &nbsp; <wo:WOString value = "$lastTwoDigitsOfMonth" />&nbsp; All Rights Reserved</p>
			<p>413 Cleveland Street Clearwater Fl, 33755</p>


<p>
    <a href = "/terms-and-conditions.html" target="_blank">Terms & Conditions</a> -
    <a href = "/gdpr.html" target="_blank">European GDPR</a> -
    <a href = "/privacy-policy.html" target="_blank">Privacy</a> -
    <a href = "/shipping.html" target="_blank">Shipping & Returns</a> -
    <a href = "https://m.me/mybuddi.co" target="_blank">Support Chat</a>
</p>

            </div>
            <div class="cell small-12 large-6 align-right">

                <div class="mybuddi">
                    <div class="mb-logo ir-container-16-9"></div>
                </div>

            </div>
        </div>
    </div>
</footer>
    <div class = "spacer clear"></div>

</section>