<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="dns-prefetch" href="//assets.mybuddi.co">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0"/>
<link rel="shortcut icon" sizes="16x16 32x32" href="//assets.mybuddi.co/assets/shared/img/favicon.ico">		
<link rel="icon" type="image/png" href="//assets.mybuddi.co/assets/shared/img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="//assets.mybuddi.co/assets/shared/img/favicon-16x16.png" sizes="16x16" />
