<wo:WOConditional condition = "$session.currentTransaction" negate = "true">
<wo:MainStyleSheet domain = "//assets.mybuddi.co" path	= "/assets/fps01/css/" resourceSrc = "app.css"></wo:MainStyleSheet>
<style>#main-content #top-navigation { background-color: rgba(0, 0, 0, 1) !important;}</style>

<section id ="section-1-error-404">
<div class="grid-container">
<div class="grid-x grid-padding-x">
<div class = "cell large-8 small-12 centered">
<div class="mybuddi">
<div class="mb-logo-os ir-container-16-9-r"></div>
</div>
<h1>Didn't find what you were looking for?</h1>
<p>Try going here <a href = "https://mybuddi.co">mybuddi home page.</a></p>
</div>
</div>
</div>
</section>
</wo:WOConditional>


<wo:WOConditional condition = "$session.currentTransaction">

<webobject name = "HeaderFooter">
<style>#main-content #top-navigation { background-color: rgba(0, 0, 0, 1) !important;}</style>
<section id ="section-cart" >
<article id = "main-article-cart">
<div class="grid-container" >
<div class="grid-x grid-padding-x" >
<div class="cell small-12 large-6 small-order-2 medium-order-1">
<nav aria-label="You are here:" role="navigation" class = "hide-for-small-only">
<ul class="breadcrumbs">
<li class="disabled">Free offer</li>
<li class="disabled">Payment Choice</li>
<li>
<span class="show-for-sr">Current: </span> Payment Confirmation
</li>
</ul>
</nav>
<h4 class = "hide-for-small-only">Your order was processed and is next in line. </h4>
<p>
</p>
<div class = "customer-info">
<div class = "hide-for-small-only">
<wo:FPSThankYouIntroText firstName = "$session.person.firstName"></wo:FPSThankYouIntroText>
<p>&nbsp;</p>
</div>
<h5>Boring but helpful information</h5>
<div class = "shipping-section-text">
<strong>Credit Card Security </strong>&nbsp;<br>
<p class = "shipping-info">We use Amazon Pay, Apple Pay and Stripe which are used by thousands of businesses to outsource their transactions for industry standard secure transactions. It is our top priority to ensure that your data is kept secure at all times.
</p>
<strong>Shipping And Handling</strong>
<p class = "shipping-info">Shipping cost for orders outside of the USA will be charged at the higher international rate shown on the website.</p>
<strong>Returns</strong>
<p class = "shipping-info">Please visit the website for information about returns. </p>
<strong>Delivery Schedule</strong> <br />
<p class = "shipping-info">We aim to deliver your order right away. We will normally send your order to you within 1 business day<br>
If there is going to be any delay in sending your order we will contact you to let you know by email with is captured when you ordered.<br />
We will give you an estimated delivery date and the option to cancel your order if you would prefer not to wait. International orders are generally received in under 10 days. &nbsp;If you need items urgently please email us at the time of placing an order.
</p>
<strong>Tax Charges</strong> <br />
<p class = "shipping-info">Tax is included in the prices quoted so the price you see is the price you pay.</p>
<strong>Privacy Policy</strong> &nbsp;<br>
<p class = "shipping-info">My Buddi does not disclose buyers information to third parties.<br>
Cookies are used on this shopping site, but only to keep track of the
contents of your shopping cart once you have selected an item. Cookies last only for the session or once a transaction is complete - whichever is sooner.</p>
<strong>Returns Policy</strong> <br>
<p class = "shipping-info">Any items damaged in transit will of course be replaced by us. &nbsp;You have the right to return an item within 7 days of your receiving it and would ask that you contact us to arrange speedy return. &nbsp;When it arrives back with us in good condition we will refund that item to your credit or debit card you used to pay for your order less a handling charge and our shipping cost. &nbsp;&nbsp;&nbsp;Please let us know before you send any item back so that we can give you a returns number.</p>
<strong>Information</strong>
<p class = "shipping-info">
Base Enterprise US LLC, Suite B, 413 Cleveland Street, Clearwater, Florida, 33755<br>
My Buddi website brand is associated with the online business of Base Enterprise US LLS - Note: your credit card statement will be debited on behalf of Base Enterprise US LLC<br>
Telephone: +1 (727) 474-1476‬
</p>
<p class = "shipping-info">Email - care.for@mybuddi.co</p>
<p class = "shipping-info">You may telephone, email or write to us. You are very welcome to visit us but please contact us first to make an appointment to ensure that we will be available.</p>
<p class = "shipping-info">Use our facebook page to connect with us using Messenger - https://www.facebook.com/mybuddi.co</p>
<p><a href = "https://www.facebook.com/mybuddi.co" class = "social-link"><span class="icon-facebook"></span></a>&nbsp;&nbsp;<a href = "#" class = "social-link"><span class="icon-youtube2"></span> </a>&nbsp; &nbsp;<a href = "#" class = "social-link"><span class="icon-instagram"></span></a></p>
<p class = "shipping-info">If we are not available on the telephone you will be able to leave a message on an answering machine and we will call you back as soon as possible and certainly within 2 working days.</p>
<p class = "shipping-info">You have the right to cancel your order for 7 days from the date the order was placed - please make sure you read our terms and conditions regarding return</p>
</div>
</div>
<hr>
</div>
<div class="cell small-12 large-6 checkout small-order-1  medium-order-2">
<div class = "divider-small hide-for-medium"></div>
<h4 class = "show-for-small-only"><strong>Your order was processed and is next in line.</strong> </h4>
<div class = "show-for-small-only">
<wo:FPSThankYouIntroText firstName = "$session.person.firstName"></wo:FPSThankYouIntroText>
</div>
<div class="grid-x grid-padding-x">
<div class="cell small-4">
<img data-src = "//assets.mybuddi.co/assets/fps01/img/main-amazon-200x200.jpg" class="cart-image lazyload blur-up lazy-width" src = "//assets.mybuddi.co/assets/fps01/img/main-amazon-100xx100.jpg"/>
</div>
<div class="cell small-8 text-right shipping-data">
<p><strong>Your Order Specifics:</strong></p>
<hr>
<p><strong><wo:WOString value = "$session.item" /></strong></p>
<h3>$ <webobject name = "Subtotal"/></h3>
<h3>shipping: $ <webobject name = "ShippingCost"/></h3>
<h4>total: $ <webobject name = "FullCost"/></h4>
</div>
</div>
<hr>
<div class="grid-x grid-padding-x shipping-data">
<div class="cell small-4">
<h3>Subtotal</h3>
<h3>Shipping</h3>
</div>
<div class="cell small-8 text-right ">
<h3>$ <webobject name = "Subtotal"/></h3>
<h3>$ <webobject name = "ShippingCost"/></h3>
</div>
</div>
<hr>
<div class="grid-x grid-padding-x shipping-data">
<div class="cell small-4">
<h3><span class = "lg">Total</span></h3>
</div>
<div class="cell small-8 text-right ">
<h3>USD <span class = "lg">$ <webobject name = "FullCost"/></span></h3>
</div>
</div>
<div class="grid-x grid-padding-x ">
<div class="cell small-12">
<div class = "divider-medium hide-for-small-only"></div>
<wo:AAOutdoors></wo:AAOutdoors>
<wo:AmazonAssociateScript domain = "//z-na.amazon-adsystem.com" path = "/widgets/" resourceSrc = "onejs?MarketPlace=US" ></wo:AmazonAssociateScript>
</div>
</div>
</div>
<div class = "divider-large hide-for-small-only"></div>
</div>
</div>
</article>
</section>
</webobject>


</wo:WOConditional>
