<webobject name = "HeaderFooter">
  
        <style>
        
            #main-content #top-navigation {
                background-color: rgba(0, 0, 0, 1) !important;
            }
            
            #main-outer {
            padding: 200px 0 ;
           
            }
        @media only screen and (max-width:46em) { 
            #main-outer {
            padding: 150px 0 !important;
           
            }
        }
        	
        
        
        </style>
<section id="main-outer">

        <section id="section-1-error-404" style="background-color: white;">


            <div class="grid-container">
                <div class="grid-x grid-padding-x">


                    <div class="cell large-8 small-12 centered">

						<wo:WOConditional condition = "$notification.status">

                        <div class="notification-error">
                        <h1>Sorry, something went wrong!</h1>
                        <p class = "notification-error-warning"><wo:WOString value = "$notification.message" escapeHTML = "false" /> </p>
                        </div>
                        </wo:WOConditional>
                        
                    </div>

                </div>

            </div>

        </section>
    </section>



</webobject>