<script src="https://assets.mybuddi.co/assets/shared/js/jquery.min.js" defer></script>
<script src="https://www.youtube.com/iframe_api" defer></script>
<script src="//assets.mybuddi.co/assets/shared/js/you-tube-sticky.js" defer></script>