<p class = "shipping-info">Dear <wo:WOString value = "$^firstName"></wo:WOString>, we have sent you an email with your invoice and an introductory welcome note, so look out for it in your inbox.</p>
<p class = "shipping-info">While you are here and you are thinking about personal comfort, a trip or heading out into the wild, It's a good time to take a look at some other outdoors kit that might help you stay dry, fed, hydrated and comfortable.</p>
<p class = "shipping-info">On this page I have collected together a great set of outdoor essentials that could help you make the best of your adventure so please check them out.</p>
                        