<meta property="og:title" content="My Buddi Adventure Microfiber Towels for Hikers and Outdoors">
<meta property="og:type" content="website">
<meta property="og:description" content="SPORT TOWEL GIVEAWAY - During August you can WIN a FREE set of 5 Quality Microfibre Sports towels - You will never use another towel - Perfect for gym, swimming, workouts, cycling Yoga, cross-country and Outdoor Challenges etc..">
<meta property="og:image" content="https://contest.mybuddi.co/assets/img/gym-guy.png">
<meta property="og:site_name" content="Mybuddi Microfibre Towels for Hiker's and Outdoors">
<meta property="og:url" content="https://mybuddi.co/">

<meta property="fb:app_id" content="238179476811848">

